<!DOCTYPE html>
<html>
<head>
	<title>The Wholesome Table - About Us</title>
	<style>
			body {
				background-image:url("/public/assets/images/bgabout.jpg");
				background-size: cover;
				background-repeat: no-repeat;
				height: 100vh;
			}
	</style>
	<link rel="stylesheet" type="text/css" href="/public/assets/css/styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<!-- ========== NAVIGATION BAR ========== -->
	<nav class="navbar">
	
		<div class="col"><img src="/public/assets/images/logo.png" style="width:97px"></div>
		
		<div class="col right">
			<div class="row top">The Wholesome Table</div>
			
			<div class="row bot">
				<div class="box">.</div>
				<div class="nav-links">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="active"><a href="#">About Us</a></li>
						<li><a href="/reviews">Testimonials</a></li>
						<li><a href="/menu">Menu</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
				
				<a href="#" class="hamburg">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
				</a>
			</div>
		</div>
		
	</nav>

	<!-- ========== BODY ========== -->
	<div class="about-title">
		<h1>The Wholesome Table Team</h1>
	</div>
	
	<div class="table">
		<div class="column about-left">
			<h2>Our Story</h2><br>
			<h3>Al fresco dining for customers</h3><br>
			<video width="340" controls src="/public/assets/videos/our story.mp4" type="video/mp4"></video> 
			<p style="text-align:justify;">Lorem ipsum dolor sit amet, 
			consectetur adipiscing elit, sed do eiusmod tempor incididunt 
			ut labore et dolore magna aliqua.</p>
		</div>
		
		<div class="column about-mid">
			<h2>Our Story</h2>
			<h3>Our Team</h3><br>
			<img src="/public/assets/images/ourteam.jpg" style="width:100%">
			<p style="text-align:justify;">Lorem ipsum dolor sit amet, 
			consectetur adipiscing elit, sed do eiusmod tempor incididunt 
			ut labore et dolore magna aliqua. Lectus vestibulum mattis ullamcorper velit.</p>
		</div>
		
		<div class="column about-right">
			<h2>Café Hours</h2><br>
			<strong>
			Tuesday to Sunday<br>
			7 am to 3 pm</strong><br><br><br><br>
			
		</div>
	</div>
	
	<!-- ========== FOOTER ========== -->
	<div class="footer">
		<div class="footnote left">
			<center><a href="legal.html" target="_blank" style="text-decoration:none;color:black;">Legal</a></center>
		</div>
		<div class="footnote mid">
			<a href="https://www.facebook.com/login.php/" target="_blank"><img src="/public/assets/images/fblogo.png" id="footlogo" style="margin-right: 30px;"></a>
			<a href="https://www.instagram.com/accounts/login/" target="_blank"><img src="/public/assets/images/iglogo.png" id="footlogo" style="margin-right: 30px;"></a>
			<a href="https://twitter.com/i/flow/login" target="_blank"><img src="/public/assets/images/twlogo.png" id="footlogo"></a>
			
		</div>
		<div class="footnote right">
			The Wholesome Table &#xA9; 2022
			
		</div>			
	</div>
	
	<script src="/public/assets/javascript/navbar.js"></script>
</body>
</html>