<!DOCTYPE html>
<html>
<head>
	<title>The Wholesome Table - Home</title>
		
		<style>
				body {
					background-image:url("/public/assets/images/bgindex.jpg");
					background-size: cover;
					background-repeat: no-repeat;
					height: 100vh;
				}
				
				a {
					text-decoration: none;
					color: black;
				}
		</style>
		
		<link rel="stylesheet" type="text/css" href="/public/assets/css/styles.css">
</head>
<body>

	<div class="adminbody">
		<div class="adminbox">
			<a href="/">Home Page
				<span class="extra"></span>
			</a>
		</div>
		
		<div class="adminbox">
			<a href="/dbRead">Inquiries Database
				<span class="extra"></span>
			</a>
		</div>
		
		<div class="adminbox">
			<a href="/bookingRead">Booking Database
				<span class="extra"></span>
			</a>
		</div>
		
		<div class="adminbox">
			<a href="/revform">Review Form
				<span class="extra"></span>
			</a>
		</div>
	</div>

</body>
</html>