<!DOCTYPE html>
<html>
<head>
	<title>Display Data from MySQLdb</title>
	<style>
		a {
					text-decoration: none;
					color: black;
		}
	</style>
	<link rel="stylesheet" href="/public/assets/css/dbstyles.css" />
</head>
<body>
	<table>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Message</th>
		</tr>
		
		<% if(userData.length!=0) { var i=1; userData.forEach(function(data) {
		%>
		<tr>
			<td><%=data.date %></td>
			<td><%=data.name %></td>
			<td><%=data.email %></td>
			<td><%=data.message %></td>
		</tr>
		<% i++; }) %> <% } else { %>
		<tr>
			<td colspan="7">No Data Found</td>
		</tr>
		<% } %>
	</table><br><br>
	<a href="/adminpage">Back to Admin Page</a>
</body>
</html>